.filter {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $sectionBackground;

  &__label {
    margin-right: 0.5rem;
  }

  &__input {
    width: 18rem;
    padding: 0.4rem 0.3rem 0.3rem 0.3rem;
    font-weight: bold;
    background-color: #f8f8f8;
    border: 0.1rem solid #ccc;
    transition: all ease-in-out 1s;
    outline-width: 0;

    &:focus {
      background-color: #fff;
      border-color: #000;
    }
  }
}
